<container class="footer-content">
    <spacer size="10"></spacer>
    <row>
        <columns small="4" large="4" valign="middle">
            <row>
                <columns small="4" large="4" valign="middle">
                    <img style="width: 20px;height: 20px;"
                        src="https://raw.githubusercontent.com/folaulau/pub_resources/master/img/html-emails/nginx-news-letter/twitterIcon.png"
                        alt="image of clever meme that made me chuckle">
                </columns>
                <columns small="4" large="4" valign="middle">
       
                    <img style="width: 20px;height: 20px;"
                        src="https://raw.githubusercontent.com/folaulau/pub_resources/master/img/html-emails/nginx-news-letter/youtubeIcon.png"
                        alt="image of clever meme that made me chuckle">
                </columns>
                <columns small="4" large="4" valign="middle">
                    <img style="width: 20px;height: 20px;"
                        src="https://raw.githubusercontent.com/folaulau/pub_resources/master/img/html-emails/nginx-news-letter/linkedinIcon.png"
                        alt="image of clever meme that made me chuckle">
                </columns>
            </row>
        </columns>
        <columns small="1" large="1" valign="middle">
            
            <row>
                    <columns></columns>
                      <columns small="3"><div class="footer-vertical-line"></div></columns>
                    <columns></columns>
                  </row>
        
        </columns>
        <columns small="2" large="2" valign="middle">
            <row>
                    <columns small="1" large="1" ></columns>
                <columns small="10" large="10" >
                    <img style="width: 80px;height: 70px;"
                        src="https://raw.githubusercontent.com/folaulau/pub_resources/master/img/html-emails/nginx-news-letter/footerLogo.png"
                        alt="image of clever meme that made me chuckle">
                </columns>
                <columns small="1" large="1" ></columns>
            </row>
        </columns>
        <columns small="1" large="1" valign="middle">
            
            <row>
                    <columns></columns>
                      <columns small="3"><div class="footer-vertical-line"></div></columns>
                    <columns></columns>
                  </row>
        </columns>
        <columns small="4" large="4" valign="middle">
            <div class="footer-content-text" style="text-align: center;">Contact us</div>
            <a href="#" style="font-size: small;">nginx-inquiries@nginx.com</a>
            <div class="footer-content-text" style="text-align: center;"> 1-800-915-9122</div>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <div class="footer-content-text">© 2019 NGINX, Inc. ⋅ 795 Folsom Street, San Francisco, CA 94107</div>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <a href="#" style="font-size: small;">Manage your subscription preferences</a> <span class="footer-content-text">or</span> <a
                style="font-size: small;" href="#">unsubscribe</a>.
            </center>
        </columns>
    </row>

</container>