// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: black !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

/* custom */
.body-content{
  padding: 15px !important;
}

.header-content{
  background-color:black !important;
  background: black !important;
}

.blog-title{
  font-weight: bold !important;
}

.footer-content{
  background-color:black !important;
  background: black !important;
}

.footer-content-text{
  color:white;
  font-size: small;
  a{
    font-size: small;
  }
}

.upcoming-events{
  a{
    font-size: small;
    font-weight: bold;
  }
  .event-address{
    display: inline;
    font-weight: bold;
    font-size: small;
  }
  .event-desc{
    display: inline;
    font-size: x-small;
    font-style: italic;
  }
}

.footer-vertical-line{
  border-left: 2px solid white;
  height: 75px;
}