<wrapper class="footer">

    <container class="footer-container">

        <row class="email-content-footer">
            <columns>
        
              <row>
                <columns small="12" large="2">
                  <a class="footer-account-link" href="">Logos</a>
                </columns>
                <columns small="12" large="3">
                  <a class="footer-account-link">Business Cards</a>
                </columns>
                <columns small="12" large="4">
                  <a class="footer-account-link">Promotional Products</a>
                </columns>
                <columns small="12" large="3">
                  <a class="footer-account-link">My Account</a>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <img class="footer-social-icon"
                      src="https://raw.githubusercontent.com/folaulau/html-email-demo-projects/master/free-logo-services/src/assets/img/facebook-icon.png"
                      alt="image of clever meme that made me chuckle">
                    <img class="footer-social-icon"
                      src="https://raw.githubusercontent.com/folaulau/html-email-demo-projects/master/free-logo-services/src/assets/img/twitter-icon.png"
                      alt="image of clever meme that made me chuckle">
        
                    <img class="footer-social-icon"
                      src="https://raw.githubusercontent.com/folaulau/html-email-demo-projects/master/free-logo-services/src/assets/img/blog-icon.png"
                      alt="image of clever meme that made me chuckle">
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                      <a  class="terms-conditions" href="">Privacy Policy</a> | <a class="terms-conditions"  href="">Terms & Conditions</a>
                  </center>
                </columns>
              </row>
              <row>
                <columns>
                  <center>
                    <div>FreeLogoServices.comTM | 101 Convention Center Dr. | Las Vegas, NV 89109 </div>
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <div>©2015, LogoMix, Inc. All Rights Reserved.</div>
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <div>Sales exclusions apply:</div>
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <div>*Websites, domains, email, and all web-based products, including packages,
                      and Custom Logo Products, are exempt from sales promotions unless explicitly stated.</div>
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <div>*Product availability subject to user location.</div>
                  </center>
                </columns>
              </row>
        
              <row>
                <columns>
                  <center>
                    <div>If you don't want to receive this email you can unsubscribe here</div>
                  </center>
                </columns>
              </row>
              <br>
              <br>
              <br>
            </columns>
          </row>

    </container>

</wrapper>